#!/bin/bash

export PYTHONPATH=$(pwd)

__ENV_DIR="./.env"

function source-env() {
    local target="${__ENV_DIR}/bin/activate"
    echo "entering virtualenv: '${target}'"
    . ${target}
}

function maybe-create-env() {
    local env_dir="${__ENV_DIR}"
    read -p "No virtualenv found. Create one at ./.env?"
    echo
    if [[ $REPLY =~ ^[Yy]$ ]]; then
        virtualenv $env_dir
        source-env
    fi
}

function check-env() {
    if [ -a "${__ENV_DIR}" ]; then
        source-env
    else
        maybe-create-env
    fi
}

check-env

